<%inherit file="/home_application/base_new.html"/>
<%block name="content">
<div class="row page-header-box">
    <div class="col-lg-12">
        <h1 class="page-header">
            事件配置管理
        </h1>
    </div>
</div>
<div class="main-wrap">
    <div class="panel panel-default">
        <div class="panel-heading">
            事件源配置
        </div>
        <div class='panel-body'>
            <div class="col-sm-8">
                <form class="form-horizontal mt15" id="user_form" action="${SITE_URL}event/addEventSource/" method="post">
                    <div style="display:none">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">事件源：</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="event_role" name="event_role">
                                <option value="1">Zabbix</option>
                                <option value="2">Nagios</option>
                            </select>
                            <span class="king-required-tip text-danger ml5">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请填写用户" id="user_account" name="user_account">
                            <span class="king-required-tip text-danger ml5">*</span>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="请填写密码" id="user_password" name="user_password">
                            <span class="king-required-tip text-danger ml5">*</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别：</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label class="mr10">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>男
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0">女
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">电子邮箱：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请填写电子邮箱" id="user_email" name="user_email">
                            <span class="king-required-tip text-danger ml5">*</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button class="king-btn king-info mr10" title="保存" type="submit">
                                <i class="fa fa-save btn-icon"></i>保存
                            </button>
                            <a href="${SITE_URL}event/manage/" class="king-btn king-default" title="返回">
                                <i class="fa fa-mail-reply-all btn-icon"></i>返回
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            事件压缩策略配置
        </div>
        <div class='panel-body'>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>test1</th>
                        <th>test2</th>
                        <th>test3</th>
                    </tr>
                    </thead>
                    <tbody>

                    % for user in users:
                    <tr>
                        <td>${user.name}</td>
                        <td>${user.age}</td>
                        <td>${user.password}</td>
                    </tr>
                    % endfor
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="pagination-info pull-left">共有条，每页5页</div>
                            <div class="pull-right king-page-box">
                                <ul class="pagination pagination-small pull-right">
                                    % if users.has_previous:
                                        <li>
                                            <a href="?page=${users.previous_page_number}">«</a>
                                        </li>
                                    % else:
                                        <li class="disabled">
                                            <a href="javascript:void(0);">«</a>
                                        </li>
                                    % endif

                                    <li>
                                        <span>
                                             当前第${users.number}页，共${users.paginator.num_pages}页
                                        </span>
                                    </li>

                                    % if users.has_next:
                                        <li>
                                            <a href="?page=${users.next_page_number}">»</a>
                                        </li>
                                    % else:
                                        <li>
                                            <a href="javascript:void(0);">»</a>
                                        </li>
                                    % endif

                                </ul>
                            </div>
                        </td>
                    </tr>



                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            事件合并策略配置
        </div>
        <div class='panel-body'>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Page</th>
                        <th>Visits</th>
                        <th>New Visits</th>
                        <th>Revenue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>/index.html</td>
                        <td>1265</td>
                        <td>32.3%</td>
                        <td>$321.33</td>
                    </tr>
                    <tr>
                        <td>/about.html</td>
                        <td>261</td>
                        <td>33.3%</td>
                        <td>$234.12</td>
                    </tr>
                    <tr>
                        <td>/sales.html</td>
                        <td>665</td>
                        <td>21.3%</td>
                        <td>$16.34</td>
                    </tr>
                    <tr>
                        <td>/blog.html</td>
                        <td>9516</td>
                        <td>89.3%</td>
                        <td>$1644.43</td>
                    </tr>
                    <tr>
                        <td>/404.html</td>
                        <td>23</td>
                        <td>34.3%</td>
                        <td>$23.52</td>
                    </tr>
                    <tr>
                        <td>/services.html</td>
                        <td>421</td>
                        <td>60.3%</td>
                        <td>$724.32</td>
                    </tr>
                    <tr>
                        <td>/blog/post.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                    </tr>
                    <tr>
                        <td>/creat.html</td>
                        <td>421</td>
                        <td>60.3%</td>
                        <td>$724.32</td>
                    </tr>
                    <tr>
                        <td>/get.html</td>
                        <td>1233</td>
                        <td>93.2%</td>
                        <td>$126.34</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="pagination-info pull-left">共有100条，每页显示：50条</div>
                            <div class="pull-right king-page-box">
                                <ul class="pagination pagination-small pull-right">
                                    <li class="disabled"><a>«</a></li>
                                    <li class="active"><a>1</a></li>
                                    <li><a href="javascript:void(0);">2</a></li>
                                    <li><a href="javascript:void(0);">3</a></li>
                                    <li><a href="javascript:void(0);">4</a></li>
                                    <li><a href="javascript:void(0);">»</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
</%block>
