<%inherit file="/home_application/base_new.html"/>
<%block name="content">
<div class="row page-header-box">
    <div class="col-lg-12">
        <h1 class="page-header">
            事件用户管理
        </h1>
    </div>
</div>
<div class="main-wrap">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户管理
        </div>
        <div class="panel-body">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        面板头部
                    </div>
                    <div class="panel-body">
                        面板主体
                    </div>
                    <div class="panel-footer">
                        面板脚部
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</%block>
