<%inherit file="/home_application/base_new.html"/>
<%block name="content">
<div class="row page-header-box">
    <div class="col-lg-12">
        <h1 class="page-header">
            云提供商配置
        </h1>
    </div>
</div>
<div class="main-wrap" id="vcenter_config">
    <form class="form-horizontal" action="" id="VMware_info">
        <div class="panel panel-default">
            <div class="panel-heading">
                VMware配置
            </div>
            <div class='panel-body' id="account_info">
                <div class="col-sm-8">
                    <div class="form-horizontal mt15" >

                       <div class="form-group" hidden>
                            <label class="col-sm-3 control-label" >云提供商类型:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="VMware" id="vcenter_type" name="vcenter_type" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_name"><span class="text-danger"> * </span>帐号名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入Vcenter用户" id="account_name" name="account_name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_password">帐号密码:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="请输入Vcenter密码" id="account_password" name="account_password">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="vcenter_host">主机地址:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入Vcenter主机IP" id="vcenter_host" name="vcenter_host">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="vcenter_port">访问端口:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入Vcenter主机端口" id="vcenter_port" name="vcenter_port">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">版本:</label>
                            <div class="col-sm-9">
                                <div id="vcenter_version" style="display:inline-block;width:90%">
                                    <!-- select2 通过javascript start -->
                                    <input type="hidden" class="select2_box" style="width:100%;" >
                                    <!-- select2 通过javascript end -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3"></label>
                            <div class="col-sm-9">
                                <button class="king-btn king-info mr10" title="保存" type="submit" id="btn-validate" onclick="VCenterConfig.createVCenterAccount();">
                                <i class="fa fa-save btn-icon"></i>保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </form>
    <form class="form-horizontal" action="" id="Tencent_info">
        <div class="panel panel-default">
            <div class="panel-heading">
                腾讯云配置
            </div>
            <div class='panel-body' id="account_info">
                <div class="col-sm-8">
                    <div class="form-horizontal mt15" >

                       <div class="form-group" hidden>
                            <label class="col-sm-3 control-label" >云提供商类型:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="腾讯云" id="vcenter_type" name="vcenter_type" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_PublicKey">PublicKey:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入PublicKey" id="account_PublicKey" name="account_PublicKey">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_PrivateKey">PrivateKey:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入PrivateKey" id="account_PrivateKey" name="account_PrivateKey">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="validation_select"></label>
                            <div class="col-sm-9">
                                <button class="king-btn king-info mr10" title="保存" type="submit" id="btn-validate" onclick="VCenterConfig.createVCenterAccount();">
                                <i class="fa fa-save btn-icon"></i>保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form class="form-horizontal" action="" id="Ucloud_info">
        <div class="panel panel-default">
            <div class="panel-heading">
                UCLOUD配置
            </div>
            <div class='panel-body' id="account_info">
                <div class="col-sm-8">
                    <div class="form-horizontal mt15" >

                       <div class="form-group" hidden>
                            <label class="col-sm-3 control-label" >云提供商类型:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="UCLOUD" id="vcenter_type" name="vcenter_type" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_PublicKey">PublicKey:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入PublicKey" id="account_PublicKey" name="account_PublicKey">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_name">PrivateKey:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入PrivateKey" id="account_PrivateKey" name="account_PrivateKey">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="account_project_id">project_id :</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="请输入project_id " id="account_project_id" name="account_project_id">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="validation_select"></label>
                            <div class="col-sm-9">
                                <button class="king-btn king-info mr10" title="保存" type="submit" id="btn-validate" onclick="VCenterConfig.createVCenterAccount();">
                                <i class="fa fa-save btn-icon"></i>保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel-default">

        <div class="panel-heading">
            vcenter账号列表
        </div>
        <div class="panel-btns">
            <a type="button" onclick="VCenterConfig.deleteAccount();"class="king-btn king-info pull-left mt15 ml15">
                <i class="fa fa-user-plus mr5"></i>删除账号
            </a>
            <a type="button" data-type="success" onclick="VCenterConfig.desctroyAccount()"  class="king-btn king-info pull-left mt15 ml15">
                <i class="fa fa-user-plus mr5"></i>清除账号与所属资源
            </a>
            <a type="button" onclick="VCenterConfig.setSyncPolicy();"  class="king-btn king-info pull-left mt15 ml15">
                <i class="fa fa-user-plus mr5"></i>设置同步策略
            </a>
        </div>
        <div class='panel-body panel-search-body'>
            <div class="panel-content">
                <table id="vcenter_config_record" class="table table-bordered table-hover table-striped">
                </table>
            </div>
        </div>
    </div>
</div>

</%block>
<%block name="script">
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/validate-1.14.0/js/jquery.validate.js"></script>
<script src="${STATIC_URL}js/vmware_config.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#VMware_info').validate({
            errorElement: 'div',
            errorClass: 'text-danger',
            rules: {
                account_name: {
                    required: true,
                    minlength: 2
                },
                account_password: {
                    required: true,
                    minlength: 6,
                    equalTo: '#account_password'
                },
                vcenter_host: {
                    required: true,
                },
                vcenter_port: {
                    required: true,
                    minlength: 2
                }
            },
            messages: {
                account_name: "请输入Venter账号名称(至少两位)",
                account_password: "请输入VCenter账号密码",
                vcenter_host: "请输入VCenter主机IP",
                vcenter_port: "请输入VCenter主机Port",
            }
        });
        $('#Tencent_info').validate({
            errorElement: 'div',
            errorClass: 'text-danger',
            rules: {
                account_PublicKey: {
                    required: true,
                    minlength: 2
                },
                account_PrivateKey: {
                    required: true,
                    minlength: 2,
                }
            },
            messages: {
                account_PublicKey: "请输入PublicKey",
                account_PrivateKey: "请输入PrivateKey",
            }
        });
        $('#Ucloud_info').validate({
            errorElement: 'div',
            errorClass: 'text-danger',
            rules: {
                account_PublicKey: {
                    required: true,
                    minlength: 2
                },
                account_PrivateKey: {
                    required: true,
                    minlength: 2
                },
                account_project_id: {
                    required: true,
                    minlength: 2
                }
            },
            messages: {
                account_PublicKey: "请输入PublicKey",
                account_PrivateKey: "请输入PrivateKey",
                account_project_id: "请输入项目ID",
            }
        });
    });
</script>
</%block>