<%inherit file="/home_application/base_new.html"/>
<%block name="content">

<style type="text/css">
    .terminal {
        border: #000 solid 5px;
        font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace;
        font-size: 11px;
        color: #f0f0f0;
        background: #000;
        width: 600px;
        box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
    }

    .reverse-video {
        color: #000;
        background: #f0f0f0;
    }
</style>

<div class="row page-header-box">
    <div class="col-lg-10">
        <h1 class="page-header">
            WebSSH连接
        </h1>
    </div>
    <div class="col-lg-2">
        <h1 class="page-header">
            <a class="king-btn king-info" title="返回" href="${SITE_URL}vmware/vm/manage/" id="back_btn_id">返回</a>
        </h1>
    </div>
</div>
<div class="main-wrap" id="vcenter_config">
    <div class="panel panel-default">
        <div class="panel-heading">
            WebSSH账号配置
        </div>
        <div class='panel-body'>

            <div class="col-sm-8">
                <form class="form-horizontal mt15" id="connect">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">目标主机</label>
                        <div class="col-sm-10">
                            <input type="text" id="username" class="input-small"  placeholder="请输入主机用户名" />
                            <span class="add-on">@</span>
                            <input  type="text" id="hostname" class="input-large"  placeholder="请注入主机IP或域名" />
                            <span class="add-on">port</span>
                            <input type="text"  id="portnumber" class="input-small"  value=22 />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            认证类型
                        </label>
                        <div class="col-sm-10">
                            <label class="radio">
                                <input type="radio" name="authentication_method" value="password" checked />密码
                            </label>

                            <label class="radio">
                                <input type="radio" name="authentication_method" value="private_key" />密钥
                            </label>
                        </div>

                    </div>


                    <div class="form-group" id="password_authentication">
                        <label class="col-sm-2 control-label">
                            密码
                        </label>
                        <div class="col-sm-10">
                            <input type="password" id="password"  class="input-large" />
                        </div>
                    </div>

                    <div class="form-group" id="private_key_authentication">
                        <label class="col-sm-2 control-label">
                            密钥
                        </label>
                        <div class="col-sm-10">
                            <textarea id="private_key" rows="6"
                                      class="input-xxlarge"></textarea>
                            <p class="help-block">
                                从
                                <code>~/.ssh/id_rsa</code>或
                                <code>~/.ssh/id_dsa</code>
                                拷贝粘贴你的私有密钥
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            密钥密码
                        </label>
                        <div class="col-sm-10">
                            <input type="password" id="key_passphrase"
                                   class="input-large" />
                            <p class="help-block">
                                如果你的私有密钥是加密的，请输入你的私有密钥密码，否则可以不用输入
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button class="king-btn king-info mr10" title="登录" >
                                <i class="fa fa-save btn-icon"></i>登录
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="term">
            </div>
        </div>
    </div>

</div>

</%block>
<%block name="script">
<script src="${STATIC_URL}js/term.js"></script>
<script src="${STATIC_URL}js/wssh.js"></script>
<script type="text/javascript">
    function openTerminal(options) {
        var client = new WSSHClient();
        var term = new Terminal(80, 24, function(key) {
            client.send(key);
        });
        term.open();
        $('.terminal').detach().appendTo('#term');
        term.resize(80, 24);
        term.write('Connecting...');
        client.connect($.extend(options, {
            onError: function(error) {
                term.write('Error: ' + error + '\r\n');
            },
            onConnect: function() {
                // Erase our connecting message
                term.write('\r');
            },
            onClose: function() {
                term.write('Connection Reset By Peer');
            },
            onData: function(data) {
                term.write(data);
            }
        }));
    }

    $(document).ready(function() {
        $('#ssh').hide();
        $('#private_key_authentication', '#connect').hide();

        $('input:radio[value=private_key]', '#connect').click(
            function() {
                $('#password_authentication').hide();
                $('#private_key_authentication').show();
            }
        );

        $('input:radio[value=password]', '#connect').click(
            function() {
                $('#password_authentication').show();
                $('#private_key_authentication').hide();
            }
        );

        $('#connect').submit(function(ev) {
            ev.preventDefault();

            console.log("login on ...");
            function validate(fields) {
                var success = true;
                fields.forEach(function(field) {
                    if (!field.val()) {
                        success = false;
                    }
                });
                return success;
            }

            // Clear errors
            $('.error').removeClass('error');

            var username = $('input:text#username');
            var hostname = $('input:text#hostname');
            var portnumber = $('input:text#portnumber');

            var authentication = $(
                'input[name=authentication_method]:checked',
                '#connect').val();
            var options = {
                username: username.val(),
                hostname: hostname.val(),
                command: '',
                authentication_method: authentication
            };
            console.log(options);

            var port = parseInt(portnumber.val())
            if (port > 0 && port < 65535) {
                $.extend(options, {port: port});
            } else {
                $.extend(options, {port: 22});
            }

            if (authentication == 'password') {
                var password = $('input:password#password');
                if (!validate([username, hostname, password])){
                    toastr.warning("请填SSH写登录信息");
                    return false;
                }
                $.extend(options, {password: password.val()});
            } else if (authentication == 'private_key') {
                var private_key = $('textarea#private_key');
                if (!validate([username, hostname, private_key])){
                    toastr.warning("请填写密钥信息");
                    return false;
                }
                $.extend(options, {private_key: private_key.val()});
                var key_passphrase = $('input:password#key_passphrase');
                if (key_passphrase.val()) {
                    $.extend(options,
                        {key_passphrase: key_passphrase.val()});
                }
            }
            console.log("ssh login ....");
            $('#connect').hide();
            $('#ssh').show();
            openTerminal(options);
        });
    });
</script>

</%block>
